<a href="https://colab.research.google.com/github/srishti-tech-art/Python/blob/main/bytebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(34)

34

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("")

In [ ]:
print(12342222)

12342222

In [ ]:
print(0o10)

8

In [ ]:
print(0o23)

19

In [ ]:
print(0b10)

2

In [ ]:
print(0o23)

19

In [ ]:
print(0*49)

0

In [ ]:
print(0.4)

0.4

In [ ]:
print(5.1e4)

51000.0

In [ ]:
print(4.2e-4)

0.00042

In [ ]:
print(3+2j)

(3+2j)

In [ ]:
print("a")

a

In [ ]:
print("This a sequece of characters")

This a sequece of characters

In [ ]:
print('I am delimted bt single quotes')

I am delimted bt single quotes

In [ ]:
print("I am delimted bt double quotes")

I am delimted bt double quotes

In [ ]:
print("""I am delimted bt triple quotes""")

I am delimted bt triple quotes

In [ ]:
print('This is wrong")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-18-327641873bad>, line 1)

print("this is kevin\'s house")

In [ ]:
print("This is kevin's house")

This is kevin's house

In [ ]:
print('Marus said: "freedom to thr people"')

Marus said: "freedom to thr people"

In [ ]:
print(""" This is kevin's house and Marus said: "freedom to thr people" """)

 This is kevin's house and Marus said: "freedom to thr people"

In [ ]:
print(True)
print(False)

True
False

In [ ]:
print(type(44))
print(type(0o10))
print(type(0b10))
print(type(0x10))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
print(type(5.1e4))
print(type(8.9e-4))

<class 'float'>
<class 'float'>

In [ ]:
print(type(3+2j))

<class 'complex'>

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
print(type(""" The chief said:"No, this is Bob's house" """))
print(type("I am delimited by double quotes"))

<class 'str'>
<class 'str'>

In [ ]:
print("This will print")
#comment start with # character. all the text after # will be ignored
#this will be not print
#print("hello word")
print("This will also print")

This will print
This will also print

In [ ]:
name = "semasuka"
print(name)

semasuka

In [ ]:
#The following code will not run, you should avoid declare variable like this
number% = 8
1_number = 8
this_name_is_too_long_to_be_used = "Not to be used"
x = 34
weshouldputspacebetween = "Not to be used"

SyntaxError: invalid decimal literal (<ipython-input-9-8e4b885ca683>, line 3)

In [ ]:
#now we can print the varibles
print(number_8)
print(my_name)
print(the_total)
print(first_second_name)
print(greeting)
print(Greeting)

NameError: name 'number_8' is not defined

In [ ]:
car = "Porsche"
print(car)

Porsche

In [ ]:
car = "Benz"
print(car)

Benz

In [ ]:
print("hello"+"world")

helloworld

In [ ]:
print("hello"+" "+"world")

hello world

In [ ]:
greetings = "hello"
name = "stern"

In [ ]:
city = "Bujumbura"
country = "Burundi"
country_city = country + " " + city
print("The capital city of "+country+" is "+city)
print("country + city: "+country_city)

The capital city of Burundi is Bujumbura
country + city: Burundi Bujumbura

In [ ]:
age = 55
my_name = "semasuka"
print(type(age))
print(type(my_name))

<class 'int'>
<class 'str'>

In [ ]:
print("My name is "+my_name+" and I am "+age+" years old")

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("My name is "+my_name+" and I am "+str(age)+" years old")

My name is semasuka and I am 55 years old

In [ ]:
some_age = 45
print(type(some_age))
some_age = str(some_age)
print(type(some_age))

<class 'int'>
<class 'str'>

In [ ]:
name = input("Please enter your name")
greetings = "hello"

Please enter your nameSRISHTI

In [ ]:
weight = input("Please enter you your weight in kilogram ")

Please enter you your weight in kilogram  49

In [ ]:
print("Your weight is "+weight)

Your weight is  49

In [ ]:
first_num = 12
sec_num = 3
print("Addition of 12 and 3 is "+str(first_num+sec_num))
print("Substraction of 12 and 3 is "+str(first_num-sec_num))
print("Multiplication of 12 and 3 is "+str(first_num*sec_num))
print("division of 12 and 3 is "+str(first_num/sec_num))
print("Truncation Division (also known as floordivision or floor division) of 12 and 3 is "+str(first_num//sec_num))
print("12 power of 3 is "+str(first_num**sec_num))
print("modulus of 12 and 3 is "+str(12%3))

Addition of 12 and 3 is 15
Substraction of 12 and 3 is 9
Multiplication of 12 and 3 is 36
division of 12 and 3 is 4.0
Truncation Division (also known as floordivision or floor division) of 12 and 3 is 4
12 power of 3 is 1728
modulus of 12 and 3 is 0

In [ ]:
print(6 + 15/3 - 4*12)

-37.0

In [ ]:
print((((6+15)/3)-4)*12)

36.0

In [ ]:
price = 39.99
price = 49.99
price = price + 10
print(price)

59.99

In [ ]:
price = 39.99
price += 10
print(price)

49.99

In [ ]:
price = 39.99 #SUBSTRACTIO
price -= 10
print(price)

29.990000000000002

In [ ]:
price = 39.99 #DIVISION
price /= 10
print(price)

3.999

In [ ]:
price = 39.99 #truncation division
price //= 10
print(price)

3.0

In [ ]:
price = 39.99 #MULTIPLICATION

price *= 2
print(price)

79.98

In [ ]:
num_1 = 45 #comparison operator
num_2 = 99
print(num_1 > num_2)
print(num_1 < num_2)
print(num_1 >= num_2)
print(num_2 <= num_2)

False
True
False
True

In [ ]:
num_3 = 32
num_4 = 32
print(num_3 == num_4)
print(num_3 != num_4)

True
False

In [ ]:
#let's use this qualification to define a person
is_boy = False
is_girl = True
is_teen = True
print(is_boy and is_girl)
print(is_girl and is_teen)

False
True

In [ ]:
#let's use this qualification to define a person
is_boy = False
is_girl = True
is_teen = True
print(is_boy and is_girl)
print(is_girl and is_teen)

False
True

In [ ]:
girl = True
print(not girl)

False

In [ ]:
num_1 = 45
num_2 = 45
string_1 = "water"
string_2 = "water"
print(num_1 is num_2)
print(string_1 is string_2)

True
True

In [ ]:
the_list_1 = ["water",5,True]
the_list_2 = ["water",5,True]
print(the_list_1 in the_list_2)

False

In [ ]:
the_sentence = "We will search a specific sequence of characters in here"
word_1_to_search = "will"
word_2_to_search = "a"
word_3_to_search = "quence"
word_4_to_search = "not in the sentence"
print(word_1_to_search in the_sentence)

True

In [ ]:
print(word_2_to_search in the_sentence)
print(word_3_to_search in the_sentence)
print(word_4_to_search in the_sentence)
print(word_4_to_search not in the_sentence)

True
True
False
True

In [ ]:
the_sentence = "python is so much fun"
lowercase_word = "python"
uppercase_word = "Python"
print(lowercase_word in the_sentence)
print(uppercase_word in the_sentence)
print(uppercase_word not in the_sentence)

True
False
True

In [ ]:
print('let\'s learn Python') #String functions

let's learn Python

In [ ]:
print('this is kevin\'s house')
print("****") #these stars are used to separate the output
print("Your coach said:\"You need to exercise more often\"")
print("****")
print("You will send this letter via DHL\\FEDEX")
print("****")
print("If we want to break \
the string \
in a new \
line")
print("****")
print("There is a tab\tcharacter")
print("****")
print("This text have been splited\ninto\ndifferent lines")
print("****")
print("""This is
splitted
in
several
lines""")

this is kevin's house
****
Your coach said:"You need to exercise more often"
****
You will send this letter via DHL\FEDEX
****
If we want to break the string in a new line
****
There is a tab	character
****
This text have been splited
into
different lines
****
This is
splitted
in
several
lines

In [ ]:
print(r"this is kevin\ house")
print(r'this is kevin\'s house')
print(r"""this should have been\t a tab space""")
print(r"You will send this letter via DHL\\FEDEX")
print(R"This text will not be splited\ninto\ndifferent lines")

this is kevin\ house
this is kevin\'s house
this should have been\t a tab space
You will send this letter via DHL\\FEDEX
This text will not be splited\ninto\ndifferent lines

In [ ]:
dog_breed = "labrador"
print(dog_breed[3])
print(dog_breed[0])
print(dog_breed[6])

r
l
o

In [ ]:
print(dog_breed[-1])

r

In [ ]:
print(dog_breed[0:5])

labra

In [ ]:
print(dog_breed[:5])

labra

In [ ]:
print(dog_breed[3:])

rador

In [ ]:
print(dog_breed[-4:-1])

ado

In [ ]:
spaced_number = "1, 2, 3, 4, 5, 6, 7, 8, 9" #In this example,every second character(starting from 0) is printed.
print(spaced_number[0:25:3])

123456789

In [ ]:
print(spaced_number[::3])

123456789

In [ ]:
name = "Yvan" #duplicate string
print(name*5)

YvanYvanYvanYvanYvan

In [ ]:
name = "Yvan"
dupli_name = name * 5
print(dupli_name)

YvanYvanYvanYvanYvan

In [ ]:
age = 84
print("I am "+age+" years old")

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 84
print("I am {0} years old".format(age))
print("I live in {0}".format("Africa"))

I am 84 years old
I live in Africa

In [ ]:
husband_car = "benz"
wife_car = "porshe"
print("the husband drives a {0} and the wife drives a {1}".format(husband_car,wife_car))

the husband drives a benz and the wife drives a porshe

In [ ]:
city = "Kinshasa"
country = "DRC"
print("I am {} years old and I live in the capital of {}, {}".format("89",country,city))

I am 89 years old and I live in the capital of DRC, Kinshasa